.body {
    margin: 0rem;
}

.Mainfooter {
    background-color: #232628;
    color: #FFFFFF;
    font-size: small;
    padding-left: 0rem;

}

.Mainfooter li {
    list-style: none;
    margin-right: 4rem;
    text-align: center;
}

.Mainfooter ul {
    display: flex;
    flex-direction: row;
    padding-left: 10rem;
    padding-right: 7rem;
}

.Mainfooter div {
    text-align: center;


}

.Mainfooter p {
    color: grey;
}