@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

#mainheader {
    background-color: #232628;

    color: #FFFFFF;
    position: fixed;
    top: 0%;
    width: 100%;
    height: 70px;
    display:flex;
}
#mainheader ul{
    list-style: none;
    top: 0%;
    width: 100%;
    height: 70px;
    display: flex;
   
}
#Mainfooter {
    background-color: #232628;
    color: #FFFFFF;
    bottom: 0%;
    width: 100%;
    height: 100%;
    padding: 0%;
    display:flex;

}
#mainNav a {
    color:black;
    text-decoration: none;
    font-size: 1.5em;
    font-family: open, Verdana, Geneva, Tahoma, sans-serif;
}
#mainNav a:hover{
    color: #FFFFFF;
    display: flex;
} 
#mainNav ul{
    list-style: none;
    background-color: rgba(254, 254, 254, 0.805);
    padding: 0%;
    margin: 0%;
    display: flex;
    flex-direction: ;
}
h1 {
    font-family: var(Montserrat);
}
h2 {
    font-family: var(Open);
    text-align: center;
}*
@media screen and (min-width: 768px){
    #mainheader {
        grid-temp
    }
    #mainNav ul { 
        flex-direction:column;
    }
    #Mainfooter{
        flex-direction:row; 
      
}
@media screen and (min-width: 1024px) {

@media screen and (min-width: 1200px){

}